@font-face {
    font-family: MapleMonoSC;
    src: url("/fonts/MapleMono-Regular.woff2");
}
:root{       
    --bg-col: black;
    --highlight: #a85400;
    --font-col: #6a6a6a;
    --a-visited: rgb(107, 75, 75);
    --a-hover: Lime;
} 

/* 通用样式 */
body {
    font-family: "MapleMonoSC";
    color: var(--font-col);
    background-color: var(--bg-col);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--highlight);
    font-family: 'Noto Serif SC', serif;
}

a:visited {
    color: var(--a-visited);
}

.sidebar a:hover {
    color:var(--a-hover);
}

footer {
    text-align: center;
    clear: both;
    margin-bottom: 5%;
}

.sidebar {
    flex: 20%;
    padding: 20px;
}
.sidebar h3 {
   margin-bottom: 0%;
}

.sidebar a {
    display: block;
    margin-bottom: 10px;
    color: var(--font-col);
}

.description {
    /*font-size: medium;*/
    margin-top: 0%;
    border-bottom: 2px solid #333;
}
/* 主要页面设置 */
#mainpage {
    margin: 0 5%;
}
#container_sidebar {
    display: flex;
}
#header {
    color: var(--highlight);
}
#header .description {
    color: var(--font-col);
    font-size: 18px;
}
#content {
    flex: 80%;
    padding: 20px;
}

#ascii_box {
    text-align: center;
}
#titleDiscription {
    text-align: center;
}
#topbar {
    position: fixed;
    width: 100%;
    background-color: var(--bg-col);
    color: var(--highlight);
    margin: 0%;
    padding: 5px;
    top: 0;
    text-align: center;
    cursor: pointer;
    display: none;
    z-index: 2;
    border-bottom-style: dashed;
}

nav {
    font-family: 'Noto Serif SC', serif;
    background-color: var(--highlight);
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:visited {
    color: white;
}

nav a:hover {
    color: var(--a-hover);
    background-color: var(--bg-col);
}

.btn {
    color: #fff;
    background-color: var(--bg-col);
    padding: 3px;
    font-weight: bolder;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gallery img {
    width: 240px;
    /* 设置缩略图的宽度 */
    height: 160px;
    /* 设置缩略图的高度 */
    object-fit: cover;
    /* 保持图片比例并覆盖整个区域，可能会裁剪部分图像 */
    margin: 10px 0;
    cursor: pointer;
}

/* 适配准备 */
.nav-toggle,
.sidebar-toggle {
    display: none;
    position: fixed;
    top: 40px;
    right: 20px;
    z-index: 2;
    color: #fff;
}
.sidebar-toggle {
    top: 80px;
    right: 23px;
}

a {
    color: unset;
}

/* 移动端适配 */