
<div id="header">
    <header>
        <h1 id="pagetitle">{{ .Site.Title }}</h1>
        <div id="ascii_box">
        <pre id="pagetitle_ascii">{{ .Site.Params.ascii_art | safeHTML }}</pre>
        </div>
        <p id="titleDiscription" class="description">{{ .Site.Params.discription }}</p>
        <!-- <p id="m_separator">################################</p> -->
    </header>
    <nav id="nav" class="nav">
        {{ range .Site.Menus.main }}
        <a class="nav-link" href="{{ .URL }}">
        {{ $text := print .Name | safeHTML }}
        ▶{{ $text }}◀
        </a>
        {{ end }}
    </nav>
    <p class="description" id="pc_separator">·</p>
</div>